part1

program to scrape job-title, job-location, company_name, experience_required

In [605]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException,InvalidElementStateException

<a class="title fw500 ellipsis" href="https://www.naukri.com/job-listings-data-analyst-tech-mahindra-ltd-bangalore-bengaluru-4-to-8-years-240321003902?src=jobsearchDesk&amp;sid=16171035587582049&amp;xp=3&amp;px=1" title="Data Analyst" target="_blank">Data Analyst</a>

In [11]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [12]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru'

In [13]:
driver.get(url)

In [14]:
job_titles=[]
job_location=[]
company_name=[]
experience_required=[]

In [42]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for t in title[:10]:
    job_titles.append(t.text)

In [43]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst (SQL, Excel, R/Python, Dashboards, PowerBI) - Contract',
 'Specialist I / II Data Analyst']

In [45]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location[0:10]:
    job_location.append(j.text)

In [46]:
job_location

['Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [47]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for c in company[0:10]:
    company_name.append(c.text)

In [48]:
company_name

['Super India Tech Mark',
 'tech mahindra ltd',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Myntra Designs Pvt. Ltd.',
 'Xiaomi',
 'Concentrix Daksh Services India Private Limited.',
 'Cerner',
 'Cerner Corporation',
 'Flipkart Internet Private Limited',
 'Philips India Limited']

In [49]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for e in experience[0:10]:
    experience_required.append(e.text)

In [50]:
experience_required

['0-2 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '1-5 Yrs',
 '5-10 Yrs']

In [51]:
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [53]:
import pandas as pd

In [54]:
df={'job_titles':job_titles,'job_location':job_location,'company_name':company_name,'experience_required':experience_required}
dataset = pd.DataFrame(data = df)

In [55]:
dataset

,job_titles,job_location,company_name,experience_required
0,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,tech mahindra ltd,4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
3,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Xiaomi,2-6 Yrs
5,Hiring For Data Analyst,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Concentrix Daksh Services India Private Limited.,2-7 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Cerner,3-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Cerner Corporation,4-9 Yrs
8,"Data Analyst (SQL, Excel, R/Python, Dashboards...",Bangalore/Bengaluru,Flipkart Internet Private Limited,1-5 Yrs
9,Specialist I / II Data Analyst,Bangalore/Bengaluru,Philips India Limited,5-10 Yrs

PART 2

program to scrape data for “Data Scientist” Job position in
“Bangalore” location. 
inforamtion required=
job-title
job-location
company_name
full job-description

In [85]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [86]:
url=('https://www.naukri.com')

In [87]:
driver.get(url)

In [88]:
job_titles=[]
job_location=[]
company_name=[]
job_description=[]

In [89]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [90]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [91]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%20bengaluru"

driver.get(url)

In [ ]:
<a class="title fw500 ellipsis" href="https://www.naukri.com/job-listings-data-scientist-cronj-it-technologies-private-limited-bangalore-bengaluru-0-to-1-years-310321002339?src=jobsearchDesk&amp;sid=16178751734463149&amp;xp=1&amp;px=1" title="Data Scientist" target="_blank">Data Scientist</a>

In [94]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title[0:10]:
    job_titles.append(j.text)

In [95]:
job_titles

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist - Machine Learning',
 'Data Scientist || Data Analyst || Data science',
 'Data Scientist - IBM Garage',
 'GAMMA Lead Data Scientist',
 'DBCG IND - GAMMA Senior Data Scientist',
 'Data Scientist/Senior Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Global Medical Data Scientist']

In [96]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for l in loc[0:10]:
    job_location.append(l.text)

In [97]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru']

In [99]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for c in company[0:10]:
    company_name.append(c.text)

In [100]:
company_name

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'AugmatrixGo',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Boston Consulting Group',
 'Boston Consulting Group',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited']

In [101]:
Job_link=[]
url_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in url_tags[0:10]:
    Job_link.append(j.get_attribute('href'))
#Making for loop for extracting average ratings of every phone
for j in Job_link[0:10]:
    driver.get(j)
    try:
        job_description.append((driver.find_element_by_xpath("//section[@class='job-desc']")).text)
    except NoSuchElementException:
        job_description.append("NA")

In [102]:
job_description[0:10]

['Job description\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, classification models, recommendation engine, sentiment analysis etc.\nFamiliarity with deep learning algorithms and frameworks like TensorFlow, Pytorch, Keras.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms/models for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nScripting\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of AWS.\nUnderstanding of any annotation tool.\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nRoleTrainee\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nTensorflowJavaC++CphythonData StructuresArtificial IntelligenceMachine LearningMATLABsoftware DeveloperNLPAlgorithmsFresherComputer VisionLinear Algebra',
 'Job description\nLocation - Bangalore / Bengaluru\nDuration- 6 Months\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc.\nFamiliarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions..\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of aws\nUnderstanding of any annotation tool\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nQualification:\n\nLooking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)\nRoleSoftware Developer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nKey Skills\nNLPOpencvArtificial Intelligence\nData ScienceRtensorflowAlgorithmsMATLABLinear AlgebraPython\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 'Job description\nJob description\nJob Summary and Key Responsibilities\nManage, architect, and analyze big data to build data driven business insights and high impact data models to generate significant business value. Create models and processes to collect, distill and interpret data with a view to aid better, more informed decision making. Examine and explore data from multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.\nThe role involves but not limited to the following:\nCreate insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver value\nCollaborate with Accenture teams to address business issues and influence change using strategy, industry, and analytical skills\nDeliver large-scale programs that integrate processes with technology to help clients achieve high performance\nMining and EDA of large datasets to assist in developing analytics solution\nIndividual contributor and/or oversees a small work effort\nWork with minimal supervision on daily tasks and moderate level of instruction on new assignments\nKey Skills\nMust Have\nAnalytical skills\nKnowledge of statistical techniques and machine learning algorithms\nKnowledge of analysis tools like R, Python\nAdvanced Excel, PowerPoint skills\nAdvanced communication (written and oral) and strong interpersonal skills\nAbility to work cross-culturally\nGood to have\nKnowledge on Google Cloud Platform\nHuman Resources experience\nAdditional Accenture HR systems experience\nUnderstanding of Text analysis, VBA, Java, Python, .Net and visualization tools like Qliksense, Qlikview, Tableau will be an added advantage\nInterested Candidates\n\n\nPlease Contact: Geethanjali\n9900044693\nhr1@inspirationmanpower.co.in\n\nRoleData Analyst\nIndustry TypeBPO, Call Centre, ITeS\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nData ScienceJavaREDAStatistical ModelingData AnalysisBig DataTableauMachine LearningPython',
 'NA',
 'NA',
 'Job description\n    What Youll Do\n\nWe re looking for a passionate and talented Senior Data Scientist to join our rapidly growing team.\nIn this role, you ll have the chance to roll up your sleeves and apply data science methods and analytics to real-world business situations across a variety of industries.\nAs the field of advanced analytics is rapidly evolving, the SDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the Analytics Leadership to enhance offerings that\ndeliver competitive advantage to BCG.\nSuccessful candidates are intellectually curious builders who are biased toward action, scrappy, and communicative.\nYou will also get the chance to travel: we have clients across the globe Make sure your passport is ready to go!\n \n\n\nWHO YOU ARE. YOU:\nHave deep technical and Data Science expertise: The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.\nAre an autonomous self-starter with a passion for analytics and problem solving. You will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content, and support the creation of proposal/selling documents.\nAre comfortable managing engagements, client relationships, and acting as a thought Leader. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.\nLove building things and are comfortable working with modern development tools and writing code collaboratively (bonus points if you have a software development or DevOps experience)\nHave significant experience applying advanced analytics to a variety of business situations and a proven ability to synthesize complex data; as well as a deep understanding of modern machine learning techniques and their mathematical underpinnings, and are able to translate this into business implications for our clients\nHave strong project management skills\nMaster s Degree with significant relevant experience providing advanced analytics solutions, or relevant PhD in computer science, applied mathematics, statistics, machine learning, or a related data centric field.\nDemonstrated deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues.\nStrong record of professional accomplishment and leadership.\nFluency in at least one scripting language (e.g. Python, R)\nFluency in English and local office language are required\nFast-paced, intellectually intense, service-oriented environment\nPosition is located in either Chennai, Mumbai, Delhi-NCR or Bengaluru\nExpect up to 60-80% of time spent traveling\nRoleSoftware Developer\nIndustry TypeStrategy, Management Consulting Firms\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nComputer scienceadvanced analyticsSDSdata scienceArtificial IntelligenceProject managementMachine learningManagement consultingBusiness strategyPython',
 'Job description\n\nAbout Ganit Inc\n\nFounded by senior industry experts, Ganit is the fastest-growing data science company in Chennai with offices in Bengaluru, Mumbai & New Jersey.\nGanit has flipped the data science value chain as we do not start with a technique but for us, consumption comes first. With this philosophy, we have successfully scaled from being a small start-up to a 200 resource company with clients in the US, Singapore, Africa, UAE, and India.\nWe are looking for experienced data enthusiasts who can make the data talk to them.\n\nWhat you will be doing.\n\nUnderstand business problems and translate business requirements into technical requirements.\n\nConduct complex data analysis to ensure data quality & reliability i.e., make the data talk by extracting, preparing, and transforming it.\n\nIdentify, develop and implement statistical techniques and algorithms to address business challenges and add value to the organization.\n\nGather requirements and communicate findings in the form of a meaningful story with the Stakeholders.\n\nBuild & implement data models using predictive modeling techniques. Interact with clients and provide support for queries and delivery adoption.\n\nLead and mentor data analysts.\n\nWhat we are looking for:\nApart from your love for data and ability to code even while sleeping you would need the following.\n\nMinimum of 04 years of experience in designing and delivery of data science solutions.\n\nYou should have successful projects in Manufacturing in your kitty to show-off. (Experience on manufacturing analytics is a MUST)\n\nDeep understanding of various statistical techniques, mathematical models, and algorithms to start the conversation with the data in hand.\n\nAbility to choose the right model for the data and translate that into a code using R, Python, VBA, SQL, etc.\n\nBachelors/Masters degree in Engineering/Technology or\nMBA from Tier-1 B School or\nMSc. in Statistics or Mathematics\n\nWhat is in it for you:\n\nBe a part of building the biggest brand in Data science.\nAn opportunity to be a part of a young and energetic team with a strong pedigree.\nWork on awesome projects across industries and learn from the best in the industry, while growing at a hyper rate.\nRoleData Analyst\nIndustry TypeAutomobile, Auto Anciliary, Auto Components\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nPredictive ModelingManufacturing AnalyticsPython\nData ScienceRData QualityAlgorithmsVBAData AnalysisAnamoly detectionStatisticsSQL\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com\n\nRoleTechnical Architect\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nTensorflowObject DetectionAlgorithm DevelopmentAnalytical SkillsProgrammingMachine LearningDeep LearningPytorchData ScienceROpencvKerasComputer VisionPython',
 'NA']

In [103]:
import pandas as pd
Data=pd.DataFrame({})
Data['job_titles']=job_titles
Data['job_location']=job_location
Data['company_name']=company_name
Data['job_description']=job_description

In [106]:
Data

,job_titles,job_location,company_name,job_description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Job description\nResponsibilities and Duties\n...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Job description\nLocation - Bangalore / Bengal...
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Job description\nRoles and Responsibilities\n\...
3,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job description\nJob description\nJob Summary ...
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,NA
5,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,NA
6,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n What Youll Do\n\nWe re lo...
7,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Job description\n\nAbout Ganit Inc\n\nFounded ...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
9,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,NA

In [104]:
print(len(job_titles),len(job_location),len(company_name),len(job_description))

10 10 10 10

PART 3

Scrape data using filters

In [110]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [111]:
url='https://www.naukri.com/data-scientist-jobs'

In [112]:
driver.get(url)

In [113]:
location=driver.find_element_by_xpath("//div[2][@class='mt-8 chckBoxCont']")
try:
    location.click()
except ElementNotInteractableException:
    location.get(location.get_attribute('href'))

In [114]:
location

In [115]:
salary=driver.find_element_by_xpath("//div[@data-filter-id='salaryRange']/div[2]")
try:
    salary.click()
except ElementNotInteractableException:
    salary.get(salary.get_attribute('href'))

In [116]:
job_titles=[]
job_location=[]
company_name=[]
experience_required=[]

In [117]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title_tags[:10]:
    job_titles.append(j.text)
#extracting location 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location_tags[:10]:
    job_location.append(j.text)
#extracting company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company_tags[:10]:
    company_name.append(j.text)
#extracting Experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for j in experience_tags[:10]:
    experience_required.append(j.text)

In [118]:
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [119]:
import pandas as pd
Data_scientist=pd.DataFrame({})
Data_scientist['job_titles']=job_titles
Data_scientist['job_location']=job_location
Data_scientist['company_name']=company_name
Data_scientist['experience_required']=experience_required

In [120]:
Data_scientist

,job_titles,job_location,company_name,experience_required
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,7-12 Yrs
2,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,6-10 Yrs
3,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs
4,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",Change leaders,5-10 Yrs
5,Data Scientist / Data Analyst – Mobile Gaming ...,Gurgaon/Gurugram,WITZEAL TECHNOLOGIES PRIVATE LIMITED,4-7 Yrs
6,Senior Data Scientist - Machine Learning/Hadoop,Gurgaon/Gurugram,Decision Point,2-7 Yrs
7,Founding Member & Principal Data Scientist - M...,Gurgaon/Gurugram,Benovymed Healthcare,3-7 Yrs
8,Data Scientist,"Mumbai, Gurgaon/Gurugram",TransOrg Analytics,3-6 Yrs
9,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs

part 4

scape data from glassdoor on 
company_name
No. of days ago when job was posted
Rating of the company.

In [186]:
import pandas as pd

In [187]:
def glassdoor(url):
    driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
    driver.get(url)
    #fetching company name
    company_name=[]
    tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
    for j in tags[0:10]:
        company_name.append(j.text)
        
    days_posted=[]
    days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    for d in days[0:10]:
        days_posted.append(d.text)
        
    ratings=[]
    rate=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
    for r in rate[0:10]:
        ratings.append(r.text)
        
       
    job_df=pd.DataFrame({'company_name':company_name,
                         'days_posted':days_posted,
                         'ratings':ratings,})
    
    job_df.to_csv('Data_Scientist_Glassdors.csv')
    print(job_df)
# Calling Function
glassdoor('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm')

                   company_name days_posted ratings
0                Biz2Credit Inc        30d+     3.8
1     Unyscape Infocom Pvt. Ltd        30d+     4.1
2                      Techlive        30d+     5.0
3                         Adobe          6d     4.4
4                       Genpact          1d     3.8
5  Salasar New Age Technologies        30d+     5.0
6  Salasar New Age Technologies        30d+     3.5
7                       Asquero          7d     4.4
8                       CRMNEXT         12d     3.9
9                     Microsoft        30d+     3.9

PART 5

SCRAPE DATA ON
min_salary=[]
max_salary=[]
company_name=[]
Average_salary=[]
rating=[]

In [174]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [175]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [176]:
driver.get(url)

In [204]:
num_salaries=[]
minimum_salary=[]
company_name=[]
Average_salary=[]
rating=[]

In [205]:
company_name=[]
tags=driver.find_elements_by_xpath("//p[@class='m-0']")

for j in tags[0:10]:
    company_name.append(j.text)

In [206]:
company_name

['Data Scientist',
 'See 110 salaries from all locations',
 'Data Scientist',
 'See 53 salaries from all locations',
 'Data Scientist',
 'See 18 salaries from all locations',
 'Data Scientist',
 'See 100 salaries from all locations',
 'Data Scientist',
 'See 26 salaries from all locations']

In [207]:
num_salaries=[]
tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for j in tags[:10]:
    num_salaries.append(j.text)

In [208]:
num_salaries

['14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries']

In [209]:
Average_salary=[]
tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for j in tags[:10]:
    Average_salary.append(j.text)

In [210]:
Average_salary

['₹ 5,97,967',
 '₹ 11,12,243',
 '₹ 12,12,741',
 '₹ 7,37,972',
 '₹ 7,15,984',
 '₹ 13,41,900',
 '₹ 7,90,812',
 '₹ 11,81,047',
 '₹ 9,89,924',
 '₹ 11,73,127']

In [215]:
minimum_salary=[]
tags=driver.find_elements_by_xpath("//p[@class='d-block d-md-none m-0 css-1kuy7z7']")
for j in tags[:10]:
    minimum_salary.append(j.text)

In [216]:
minimum_salary

['Range: ₹333K - ₹1,080K',
 'Range: ₹560K - ₹2,147K',
 'Range: ₹436K - ₹11,274K',
 'Range: ₹569K - ₹2,648K',
 'Range: ₹350K - ₹1,565K',
 'Range: ₹1,037K - ₹1,500K',
 'Range: ₹487K - ₹1,421K',
 'Range: ₹602K - ₹1,644K',
 'Range: ₹196K - ₹1,755K',
 'Range: ₹558K - ₹1,500K']

In [218]:
 salary_df=pd.DataFrame({'company_name':company_name,
                         'num_salaries':num_salaries,
                         'Average_salary':Average_salary,
                          'minimum_salary':minimum_salary})

In [219]:
salary_df.to_csv('Data_Scientist_Glassdors_salary.csv')
print(salary_df)

                          company_name num_salaries Average_salary  \
0                       Data Scientist  14 salaries     ₹ 5,97,967
1  See 110 salaries from all locations  14 salaries    ₹ 11,12,243
2                       Data Scientist  14 salaries    ₹ 12,12,741
3   See 53 salaries from all locations  13 salaries     ₹ 7,37,972
4                       Data Scientist  12 salaries     ₹ 7,15,984
5   See 18 salaries from all locations  10 salaries    ₹ 13,41,900
6                       Data Scientist   9 salaries     ₹ 7,90,812
7  See 100 salaries from all locations   8 salaries    ₹ 11,81,047
8                       Data Scientist   7 salaries     ₹ 9,89,924
9   See 26 salaries from all locations   7 salaries    ₹ 11,73,127

             minimum_salary
0    Range: ₹333K - ₹1,080K
1    Range: ₹560K - ₹2,147K
2   Range: ₹436K - ₹11,274K
3    Range: ₹569K - ₹2,648K
4    Range: ₹350K - ₹1,565K
5  Range: ₹1,037K - ₹1,500K
6    Range: ₹487K - ₹1,421K
7    Range: ₹602K - ₹1,644K
8    Range: ₹196K - ₹1,755K
9    Range: ₹558K - ₹1,500K

PART 6

Scrape data of first 100 sunglasses listings on flipkart
Brand
Product Description
Price
Discount %

In [606]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [607]:
url='https://www.flipkart.com/'

In [608]:
driver.get(url)

In [609]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [ ]:

time.sleep(3)


prod_ser = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sunglasses")

sub_button = driver.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [ ]:
URL=[]
for i in range(0,3):
    sunglasses=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")[0:100]
    for i in sunglasses:
        URL.append(i.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(3)

In [ ]:
required_url=URL[0:100]

In [439]:
from tqdm import tqdm
for i in tqdm(required_url):
    driver.get(i)

    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element_by_xpath("//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text
        Discount.append(discount)
    except NoSuchElementException:
        Brand.append("Null")
        Product_Description.append("Null")
        Price.append("Null")
        Discount.append('Null')

100%|██████████| 100/100 [02:43<00:00,  1.64s/it]

In [440]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

100 100 100 100

In [442]:
Flipkart_Sunglasses = pd.DataFrame({"Brand": Brand, 
                                  "Product_Description": Product_Description, 
                                  "Price": Price , 
                                  "Discount": Discount})
Flipkart_Sunglasses

,Brand,Product_Description,Price,Discount
0,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58...",₹459,69% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)...",₹679,66% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size) ...,₹683,24% off
3,PIRASO,UV Protection Aviator Sunglasses (54) (Black),₹187,88% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Siz...,₹570,28% off
...,...,...,...,...
95,Ray-Ban,Wayfarer Sunglasses (55) (Brown),"₹6,959",15% off
96,funglasses,"Riding Glasses, Night Vision Round, Round Sung...",₹170,82% off
97,Ray-Ban,UV Protection Round Sunglasses (54),"₹6,961",15% off
98,I Flash,"Gradient, UV Protection Round Sunglasses (Free...",₹123,87% off
99,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹338,67% off

PART 7

Scrape 100 reviews data from flipkart.com for iphone11 phone

In [611]:
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
driver.get(" https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
driver.maximize_window()

#seeing all the reviews
All_rev = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
All_rev.click()

In [612]:
Rating = []
Review_summary = []
Full_review = []

while True:
    time.sleep(3)
    
    for i in driver.find_elements_by_xpath("//div[@class = 'col _2wzgFH K0kLPL']/div[@class= 'row']/div"):
        Rating.append(i.text)
        if len(Rating) == 200:
            break 
            
    for i in driver.find_elements_by_xpath("//div[@class= 'row']//p[@class = '_2-N8zT']"):
        Review_summary.append(i.text)
        if len(Review_summary) == 100:
            break 
            
    for i in driver.find_elements_by_xpath("//div[@class= 't-ZTKy']//div[@class]"):
        Full_review.append(i.text.replace('\n',''))
        if len(Full_review) == 100:
            break 
        
    if len(Full_review) == 100:
        break    
                
    for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a[@class='_1LKTO3']"):
        next=[i.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n)

driver.close()

In [384]:
i_phone11_review = pd.DataFrame({"Rating": Rat,
                     "Review_summary" : Review_summary,
                     "Full review" : Full_review})

i_phone11_review.head(100)

,Rating,Review_summary,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Worth every penny,iPhone is delivered on time. Display is great ...
97,5,Must buy!,I will just say its an awesome phone. Starting...
98,5,Worth every penny,"Just go for it without a second thought, if yo..."
99,5,Fabulous!,I really liked the budget iPhone. First I thou...

PART 8

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers”

In [446]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

url='https://www.flipkart.com/'
driver.get(url)

In [461]:
brand_name=[]
Product_Description=[]
Price=[]
Discount=[]

In [448]:
time.sleep(3)


prod_ser = driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sneakers")

sub_button = driver.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [475]:
URL=[]
for i in range(0,3):
    sneakers=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")[0:100]
    for i in sneakers:
        URL.append(i.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(3)

In [476]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tag[0:100]

[<selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="83255d40-c11c-4b23-bc3d-c3e98aa35778")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7f93b84c-61fa-4bfa-afc0-652004eb1637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="afd6f4cd-5e34-4e59-ae4a-d0cc03354b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5e55c5c7-bda3-410f-b395-2f18179cabb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="774ac7f0-5321-4a48-85c4-9348f8530ec9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="db709974-358f-4af0-8b0f-b69af36c858e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="4b263c0d-e43d-4469-899a-e509fd73b911")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f1e50166-dcb7-4198-b2c1-5639a3a798c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="9a540560-64df-48b5-8941-b0e2f00b73e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c943ede9-2857-4522-92bf-8cfa368db376")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7d9b8132-4c88-46ca-b87f-f4715d386b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="14296d4e-2fc9-4dd5-afc0-cf73392c705f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="006e6354-5af4-4184-b886-252870487d63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="78e35c2f-6a24-401c-9b17-b21a7efb2b57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7fd318c9-f969-4b83-8c76-d473bbb05ed2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="9c185fdc-c6ce-4a19-a516-37b8ea56b54a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="1f3ceb3f-d137-4b66-b6c8-07951a89db9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="46131ef3-a959-428f-a7bd-e0ffd0e775f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="8fce63af-a713-437d-b459-770d21574ab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="95f1d6a4-eb67-4fd4-aab4-1d49260831b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5604b157-dc20-4560-a59d-a809b8db5e95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="fae79efa-90e2-4a08-a3d1-e4e4446bd537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5a90b1d1-5595-44df-8448-c4a2f61b7090")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f0234130-c4bd-4768-8561-7197ff3195e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="97306274-61b7-48ae-888a-fc2a159f6454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="ff2d3247-f71f-44c2-aeec-325119383cf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="83dc6566-6ef7-46f4-98ca-48e308607d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c214fff0-7f7c-4f4e-a170-a10b233f95d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="2e8bef2d-538f-41b4-97f5-128f889114e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="94c23fc5-a36e-451e-9450-5c31fe8d3522")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3178c5b4-9535-4688-a226-2c9b18b6694b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="87b7aa96-44d5-4bec-8d5a-fae18b54d7b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f9bf7415-65ef-44f9-b4ea-0757d7cf0dee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7ee246e3-14ae-4a42-94bb-f5fc9d134e0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="e265f917-0cfa-452b-ab7a-8051ca080839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c6cdeea9-a979-49d1-9dd9-65beb00c7237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="cc06c9cd-019f-44df-a522-398328e192c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="05ae2b94-9385-47f8-8278-634575c37d09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="1c078c32-bef3-4630-8e9c-f1699e6ac118")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="2c44f322-a15f-4ac6-b471-91d4d698296d")>]

In [477]:
for i in brand_tag:
    brand=i.text
    brand_name.append(brand)
brand_name[0:100]

['French Connection',
 'Robbie jones',
 'Chevit',
 'Robbie jones',
 'Chevit',
 'Robbie jones',
 'Chevit',
 'Shoes Bank',
 'ORICUM',
 'Chevit',
 'aadi',
 'believe',
 'Red Rose',
 'BRUTON',
 'Magnolia',
 'Raftar',
 'bluemaker',
 'Numenzo',
 'D-SNEAKERZ',
 'Chevit',
 'Chevit',
 'Chevit',
 'T-ROCK',
 'Chevit',
 '"trend"',
 'Stefano Rads',
 'KANEGGYE',
 'Wika',
 'SPARX',
 'BRUTON',
 'SWIGGY',
 'richerson',
 'Chevit',
 'STRANGER BROTHERS',
 'HOTSTYLE',
 'TR',
 'luxury fashion',
 'Birde',
 'Extoes',
 'Bucik',
 'ESSENCE',
 'NIKE',
 'PUMA',
 'ELISEO',
 'PUMA',
 'Ktiz',
 'Adiso',
 'Magnolia',
 'D-SNEAKERZ',
 'richerson',
 'PUMA',
 'Wrogn',
 'ROCKFIELD',
 'pinstyle',
 'Longwalk',
 'Wrogn',
 'Chevit',
 'S37',
 'Rising Wolf',
 'Bucik',
 'Chevit',
 'PUMA',
 'Woakers',
 'Deals4you',
 'PUMA',
 'DUCATI',
 'Vedboy',
 'Bond Street By Red Tape',
 'JACK & JONES',
 'BRUTON',
 'Zorth',
 'Zsyto',
 'LOTTO',
 'Bonexy',
 'DOLLER',
 'PUMA',
 'PUMA',
 'ganpati traders',
 'PUMA',
 'ELISEO']

In [478]:
description_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
description_tag[0:100]

[<selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7e71badf-859e-44e0-a0f3-989ad9c7124b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="0ddb72f6-2a77-4570-a6f8-066cbb0892b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f234372a-0fa1-4b5d-a416-b77149eadf5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5ef43554-9c75-468c-8348-5331227cf5e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="ed8bc7f9-5b3d-4130-8592-fe6b26cbcd9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5aab39c3-b2d6-4fd4-924c-c835215fab70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="1bc0e2cf-a5f7-4b8f-82d4-5143cc31b2d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="649cfcba-d8cc-495a-b003-353e3235ded9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="9dc3d6f9-013f-4b4f-9ae1-271e6fd03335")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="851f8281-b085-4797-9029-e898bc791ce4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="1cd44194-e3cd-4b8b-b946-a312693d5482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c62be2e1-60a1-4421-9674-9afafe1207fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="10e4b562-361b-4cdb-b1d9-853421a120ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="00c0b4fb-6332-41e2-9d63-151030daacf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="29daa569-aacb-4ffe-ba7a-3902903c397b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c60eeea3-89ed-4242-9ffe-289e1d576705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="9ec009e7-dcda-4125-846c-5be4c1920f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="4b3cd95b-c199-4dbd-98a3-272af6bfd820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f270ab8d-ed30-4e5e-96a0-9346fd2eba58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3892b25a-6523-40a6-884d-abf6b9e8895d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c082ed6c-c581-45fe-b5a2-5ae6b37bccbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="455543e8-7141-4ea2-adaf-453180eabbb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="fac54860-77d7-47e0-bb1b-9764b8867c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="28525998-b965-42f8-9465-a2f9a843dfd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="24a2a788-ed3a-4307-84ff-81e1b25edc56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="e1f37c69-b5ce-4bf9-9396-9ac9509af3a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a7717816-49ae-4d03-b7fa-81194ac2c3b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="b1aa7c94-8974-4c2f-9276-2d5a607770ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="ce19b6cf-3fd5-443d-9dfc-ca2c73cf894b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a5f6ed0e-9518-4804-ab3b-20f9b2864e0f")>]

In [479]:
for i in description_tag:
    des=i.text
    Product_Description.append(des)
Product_Description[0:100]

['Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 5 Casual Sneakers For Men',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 '516 Trendy Star Perfect Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Black Casual Shoes Synthetic Leather for Men Sneakers F...',
 'Trendy Sneakers For Men',
 'Court Royale AC Sneakers For Men',
 'Anzarun Sneakers For Men',
 'Sneakers For Men',
 'Pacer Next FFWD Sneakers For Men',
 'casual Shoes For Men Sneakers For Men',
 'Casual , Partywear Sneakers Shoes Color Sneakers For Me...',
 'Court Legend Lo Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Black Casual Shoes Synthetic Leather for Men Sneakers F...',
 '527 Latest & Affordable Shoes Sneakers For Men',
 'Poise Perf IDP Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Sneakers For Men',
 'Sneakers For Men',
 'Casual Boy Shoes in White Color Men Walking Running Gym...',
 'Sneakers For Men',
 'JFWMARC SUEDE COMBO Sneakers For Men',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'Sneakers For Men',
 'STYLISH Sneakers For Men',
 'ATLANTA NEO Sneakers For Men',
 'Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Ontario IDP Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men']

In [480]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tag[0:100]

[<selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="4277ea06-2778-442f-8694-63fced5ace68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="908c7b33-4c36-4757-aa54-2cf9d833fb64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="6144592e-737e-4666-bfb7-61ba0e129a71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="58d81730-76b7-4e9a-9a49-c51b01bce8c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f058f46e-5f4d-4baa-8405-ac57b919bc8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="8288522b-e9e4-49be-9d14-2a91b2136a3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="ead7bcff-3c42-44f8-b986-a43763a6f27e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="bd31440f-3363-4a27-bb4e-ab6820495981")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="bfc5c88b-4408-497b-ba28-bfcc14489ae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="558d5fa5-7f47-4b97-8038-0c24b9e4660d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c30f80ea-53b4-4f73-b939-b26989cab280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c83e6508-4769-4ce8-8e6a-3535b04a30ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="12144cbc-55bc-4eb7-8b5a-532646804b7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7c9fe206-9dfc-4cce-b475-37ef577990a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7c0698fe-1a86-4c0d-a9ba-cc58d9e39d6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c4f3718b-7650-47e7-adb0-168817291d09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="691538e2-884b-4ec7-9e30-fd66849eedde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="27c25653-0507-4a3a-9d26-c2c1f56145a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="cf4f4d4f-a0ee-46e9-bcee-497ebcebf74f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="941ddccb-3448-4df6-99af-d013d802464c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c1f09bbd-0e2a-4523-b8dc-eb87a1d8e564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="12f8eed4-cf95-4a8a-8188-e89551e027fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="9081f93a-7864-4b37-93aa-3770b947e125")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="b4b088e8-74b3-4afd-b8d8-316d05416b29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a24701ec-7dbe-4b65-ace2-af51daca15b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c3cc07e6-1c88-4df3-bf03-e8a35ca88536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3f084760-24c4-4081-8254-e6f5f1a10062")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="73a240cf-70d4-466e-bd62-998c17deda81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="77c20257-5046-47d9-95a8-5e5d26af086d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="140273c1-bcd9-47cf-a7c6-e071753d850e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="24fe396e-acac-4d19-8f6f-a9a38b4d2f3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3b7ccfd4-d758-45f1-813b-9213f9e097ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="892b6f06-5c97-4d7d-a39a-b3e83bf9c20e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a3a38b55-c010-459d-949d-4e031f8fffd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c558ce67-e000-42cf-8d64-b5caef97d227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="90f4431b-686e-4ba9-b5ba-bd48b8dd7a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="100c292b-603e-48eb-9135-bb5ecad0af7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="787a3a2f-5aa4-4c0b-b176-d8f1c58fe167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="d470b7c7-24cf-456f-a87b-4eb0b14fceae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="65877c08-feaf-4e1e-a7c8-db7420a29f5b")>]

In [481]:
for i in price_tag:
    pri=i.text
    Price.append(pri)
Price[0:100]

['₹680',
 '₹399',
 '₹499',
 '₹379',
 '₹420',
 '₹474',
 '₹474',
 '₹349',
 '₹398',
 '₹322',
 '₹298',
 '₹423',
 '₹379',
 '₹499',
 '₹330',
 '₹311',
 '₹419',
 '₹398',
 '₹367',
 '₹420',
 '₹211',
 '₹254',
 '₹386',
 '₹799',
 '₹499',
 '₹217',
 '₹324',
 '₹449',
 '₹699',
 '₹799',
 '₹679',
 '₹455',
 '₹339',
 '₹454',
 '₹172',
 '₹539',
 '₹379',
 '₹299',
 '₹795',
 '₹749',
 '₹424',
 '₹2,157',
 '₹2,519',
 '₹569',
 '₹1,949',
 '₹699',
 '₹429',
 '₹424',
 '₹398',
 '₹455',
 '₹2,702',
 '₹909',
 '₹399',
 '₹386',
 '₹284',
 '₹1,014',
 '₹420',
 '₹399',
 '₹485',
 '₹749',
 '₹329',
 '₹2,119',
 '₹471',
 '₹399',
 '₹1,559',
 '₹1,506',
 '₹389',
 '₹958',
 '₹1,349',
 '₹379',
 '₹699',
 '₹398',
 '₹899',
 '₹426',
 '₹474',
 '₹1,749',
 '₹1,047',
 '₹189',
 '₹1,529',
 '₹569']

In [482]:
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
discount_tag[0:100]

[<selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="d46e5e2a-a097-406f-99ba-464f4627f7f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="d39266d7-c90b-4ab8-83d3-308a41ea0cc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f53d92d4-e6db-4660-8687-1e328c98fac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="8feb41b9-6da0-4ea8-a667-99a9e5ed572e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="d211f11d-dfca-41af-907f-f58c8dd27701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="50c1586a-6267-4db6-876b-700fbb4f3b32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5161b6db-b6c3-42c7-889b-7b63d66926ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="1e9a1465-3b8e-47b4-811c-0cc88da64b5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="91b7843f-ff34-4ad2-9cef-3651bb44a208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3bd69bf0-0553-467b-89ea-91d9c6021d66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="74905014-a46f-4ef5-9598-47192077384d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="5ac753a0-f94f-498d-b47e-63f5d1439e6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="c6ba34b6-faf2-4647-8d9d-e25b2b5466c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="ee64ba9e-d3ee-42c4-82a5-fac456750ddf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="968317a0-d4d8-41e8-a957-ba2856cca6c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="df5a4f06-133f-4e8a-a67c-c3cf3282a39d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="326415e9-c3ca-4879-8f21-198a9bc9c2d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="06c05ce1-2ca5-4519-a049-89e5ad1a4ad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="843b3380-21f5-49fd-b8f0-76323ed37ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="69167fcf-c6be-4b96-8c1c-02e63bec8993")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="d7d56b79-ddf9-476b-be3f-1a76e12e8bc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="fa2798ba-7c75-46b4-9ccb-ea9646a8a394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a166534a-7dc5-4f8e-b181-7e18bf1b518d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="32fdc0d1-71bf-40b1-ad63-43d9480f5770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7dd22302-f9a5-4de6-b0eb-d4667ca2bf27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="2d6c7d9f-6494-4127-bc30-fff028106770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a88cb911-7b0c-4b66-bb5e-4d3d36081471")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="f8305e2b-10de-46ff-b8a4-ebe38b09fc24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="3262e562-7802-4c7a-bc09-fe49e8b90e45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="fff4241c-202d-4de4-ae97-65ca525ae226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="cc498481-9f4a-45a9-b309-fd840f2e3afd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="b88df09a-da45-4dfe-912f-bfc9fac97bcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7dfc57d7-ff3d-4144-bd85-95a427ed6b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="803794de-0206-43f5-be8a-63471a228190")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="78c58572-9ece-4ac9-8ba1-c006d1bfc774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="003136fa-087a-436f-abb2-bd8ab93ed8cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="a70d9396-14db-49df-bf31-9032a1102a0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="7d08adc1-4266-47b1-837a-bd8cfcb17f43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="0edbc850-7232-4cdf-98eb-6563903cfdf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33ff37a45deb71aa19253de65190bf5f", element="8ebb91c1-8a37-4db1-81ec-6202e3abd7de")>]

In [483]:
for i in discount_tag:
    disc=i.text
    Discount.append(disc)
Discount[0:100]

['65% off',
 '60% off',
 '72% off',
 '62% off',
 '78% off',
 '52% off',
 '76% off',
 '65% off',
 '60% off',
 '67% off',
 '70% off',
 '57% off',
 '62% off',
 '87% off',
 '66% off',
 '68% off',
 '58% off',
 '60% off',
 '44% off',
 '57% off',
 '57% off',
 '74% off',
 '61% off',
 '67% off',
 '75% off',
 '68% off',
 '35% off',
 '55% off',
 '80% off',
 '72% off',
 '54% off',
 '57% off',
 '54% off',
 '65% off',
 '73% off',
 '87% off',
 '40% off',
 '46% off',
 '62% off',
 '57% off',
 '52% off',
 '58% off',
 '43% off',
 '70% off',
 '46% off',
 '57% off',
 '67% off',
 '60% off',
 '54% off',
 '49% off',
 '65% off',
 '60% off',
 '61% off',
 '43% off',
 '65% off',
 '57% off',
 '20% off',
 '75% off',
 '62% off',
 '58% off',
 '47% off',
 '68% off',
 '60% off',
 '61% off',
 '58% off',
 '61% off',
 '70% off',
 '70% off',
 '84% off',
 '30% off',
 '60% off',
 '55% off',
 '57% off',
 '52% off',
 '50% off',
 '65% off',
 '62% off',
 '49% off',
 '43% off']

In [484]:
Flipkart_sneakers = pd.DataFrame({"brand_name": brand_name, 
                                  "Product_Description": Product_Description, 
                                  "Price": Price , 
                                  "Discount": Discount})
Flipkart_sneakers

ValueError: arrays must all be same length

In [485]:
print(len(brand_name),len(Product_Description),len(Price),len(Discount))

80 64 80 79

PART 9

scrape First 100 shoes data you get. 
The data should include 
Brand of the shoes
Short Shoe description
price of the shoe

In [590]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

url='https://www.myntra.com/shoes'
driver.get(url)

Brand=[]
Product_Description=[]
Price=[]

In [601]:
time.sleep(3)
#selecting black color.
Filter2 = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
Filter2[0].click()

time.sleep(5)
#setting price filter
Filter1 = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
Filter1[1].click()

In [603]:
Brand=[]
Product_Description=[]
Price=[]

In [604]:
URL=[]
for i in range(0,2):
    shoes=driver.find_elements_by_xpath("//li[@class='product-base']")
    for i in shoes:
        #shoes1=i.find_element_by_tag_name("div")
        #shoes2=shoes1.find_element_by_tag_name("div")
        shoes3=i.find_element_by_tag_name("a")
        URL.append(shoes3.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[3]/a').click()
    time.sleep(3)

ElementClickInterceptedException: Message: element click intercepted: Element <a href="https://www.myntra.com/shoes?f=Color%3AWhite_f2f2f2&amp;plaEnabled=false&amp;rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0%2C4678.0_9119.0_4678.0%20TO%209119.0&amp;p=2">...</a> is not clickable at point (159, 9). Other element would receive the click: <div class="desktop-navContent" data-reactid="177">...</div>
  (Session info: chrome=89.0.4389.114)

part 10

In [545]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

url='https://www.amazon.in/'
driver.get(url)

In [546]:
search_bar=driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys("laptops")
search_button=driver.find_element_by_xpath('//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
search_button.click()

In [547]:
filter_button = driver.find_elements_by_xpath("//a[@class ='a-link-normal s-navigation-item']/span")

for i in filter_button:
    if i.text == 'Intel Core i7':
        i.click()
        break

In [548]:
filter_button = driver.find_elements_by_xpath("//a[@class ='a-link-normal s-navigation-item']/span")

for i in filter_button:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [549]:
Title=[]
price=[]
Ratings=[]

In [550]:
title=driver.find_elements_by_xpath("//span[@class ='a-size-medium a-color-base a-text-normal']")

for i in title[:10]:
    Title.append(i.text)

In [551]:
Title

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Lenovo Legion 5 10th Gen Intel Core i7 15.6 inch Full HD IPS Gaming Laptop (16GB/1TB HDD + 256GB SSD/Windows 10/120 Hz/NVIDIA GTX 1650 4GB GDDR6 Graphics/Phantom Black/2.3Kg), 82AU00KKIN',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'ASUS ZenBook 13 (2020) Intel Core i7-1065G7 10th Gen 13.3-inch FHD Thin and Light Laptop (16GB RAM/1TB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Plus Graphics/Lilac Mist/1.11 kg), UX325JA-EG137TS',
 'Dell Latitude 3410 14 Inch HD Intel Core i7 10th Gen ( 8GB / 1TB / Windows 10 Pro / 3 Years Warranty ) Business Laptop with STOLT Backpack',
 'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 '(Renewed) HP Pavilion 15-Cs1002txin 2018 15.6-Inch Laptop (8th Gen Core I7-8565u/8GB/1TB/Windows 10 Home/4GB Nvidia Geforce Mx150 Graphics)']

In [552]:
pri=driver.find_elements_by_xpath("//span[@class ='a-price-whole']")

for i in pri[:10]:
    price.append(i.text)

In [553]:
price

['86,790',
 '95,993',
 '5,22,077',
 '94,990',
 '77,990',
 '1,03,990',
 '88,990',
 '82,490',
 '77,990',
 '68,490']

In [ ]:
<span id="acrCustomerReviewText" class="a-size-base">4 ratings</span>

<span data-hook="rating-out-of-text" class="a-size-medium a-color-base">4.2 out of 5</span>

In [565]:
urls=driver.find_elements_by_xpath("//a[@class ='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
    
for url in UR:
    driver.get(url)
try:
    rate=driver.find_element_by_xpath("//span[@id ='acrCustomerReviewText']")
    rate.click()
    rating=driver.find_element_by_xpath("//span[@id ='a-size-medium a-color-base']")
    Ratings.append(rating.text)
    
except NoSuchElementException as e:
    Ratings.append("No RATING")
    
print(len(Title))
print(len(price))
print(len(Ratings))

10
10
10

In [566]:
laptop=pd.DataFrame({"Title": Title, 
                                  "price": price, 
                                  "Price": Price , 
                                  "Ratings": Ratings})

ValueError: arrays must all be same length